*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myFont;
  src: url('./fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: myFont;
  src: url('./fonts/Inter-Medium.ttf');
  font-weight: 300;
}

@font-face {
  font-family: myFont;
  src: url('./fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: myFont;
  src: url('./fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: myFont;
  src: url('./fonts/RussoOne-Regular.ttf');
  font-weight: 400;
}

body {
  background-color: #EEE;
  font-family: myfont;
}